In [25]:
# import dependencies
from splinter import Browser
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
from webdriver_manager.chrome import ChromeDriverManager

In [35]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\ksike\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [36]:
#connect to Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

In [53]:
# NASA Mars News
# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')
#get latest news title and paragraph text 
news_title = (soup.find_all('div', class_='content_title'))[0].get_text()
news_p = (soup.find_all('div', class_='article_teaser_body'))[0].get_text()
print(f"Title:{news_title}")
print(f"Paragraph: {news_p}")

Title:NASA's Mars Reconnaissance Orbiter Undergoes Memory Update
Paragraph: Other orbiters will continue relaying data from Mars surface missions for a two-week period.

In [85]:
#JPL Mars Space Images - Featured Image
# Visit the url for the Featured Space Image site here.
featured_image_url = 'https://spaceimages-mars.com/'
browser.visit(featured_image_url)

In [103]:
#Mars Facts
#Visit the Mars Facts webpage
mars_facts_url='https://galaxyfacts-mars.com/'

# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.
mars_facts = pd.read_html(mars_facts_url)

mars_facts[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C